<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
 <body>
   <div class='grid-container'>
  <nav class ="header">
     <h2>Travel App</h4>
     </nav>
    <div class='main-container'>
      <div>
      <h1>
        Planning your trips by easy ways 
      </h1>
       <form class="form-fields">
        	<input class="trip-search" type="text" placeholder="Delhi">
        	<input class="trip-search" type="text" placeholder="India">
        	<input class="trip-search" type="Date" value="2020-05-20">
         <input class="btn"  type="submit" name="" id="" value="Add trip">
       </form>
    </div> 
    <div class="card-container">
      <div class="card">
          <img class="card-img card-preview" src="https://cdn.pixabay.com/photo/2020/01/15/12/57/kyrgyzstan-4767882__340.jpg" alt="" srcset="">
        <div class="card-info">
          <h2>My trip : Delhi,India</h2>
          <h6>Departing: 02/12/2020</h6>
          <h5>Delhi, India is days aways</h5>
          <h3>Typical Weather for then is :</h3>
          <h5>High: 47 , Low :35</h5>
          <h6>Mostly cloudy throughout the day</h6>
        </div>
      </div>
    </div>
  </div>
    </div>
</body>
</html>