<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
 <body>
<div id = "app">
  <div class ="headline">
    Travel APP
  </div>
  <div id="search-value">
     <div>
         <input id='state' placeholder="Enter State" type="text" required  >
         <input id='country' placeholder="Enter Country" type="text" required>
         <input id='submit' type="button" value="Submit" >
     </div>
  </div>
  <div id="main">
    <img src="https://cdn.pixabay.com/photo/2016/06/25/12/48/go-pro-1478810__340.jpg" alt="">
    <div id='result'>
      <h5>My trip to:</h5>
      <p>Paris, France is 220 days away</p>
      <p>Typical weather for then is </p>
      <p>High - 46 <span>Low -35</span> </p>
      <p>Mostly cloudy thought the day </p>
    </div>
  </div>
  </div>
</body>
</html>