@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
    margin: 0;
}

.grid-container {
	background-image: linear-gradient(45deg, #7175da, #9790F2);
	font-family: 'Muli', sans-serif;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    gap: 6px;
    grid-template-areas:
    "nav nav"
    "card card";

}

.header{
 grid-area: nav;
 padding: 1rem;
}
.logo{
	text-align: center;
	font-size: 2rem;
}
.main-container{
	position: relative;
	top: 1rem;
    grid-area: card;
    flex-wrap: wrap;
    display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
}
.search-container{
  width: 18rem;
}
.search-text{
	font-size: 1.2rem;
	text-align: center;

}
  .form-fields{
    padding: 1rem;
	display: flex;
	justify-content: center;
    flex-direction: column;
  }
.card {
	background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: 10px 20px 0 20px;
    overflow: hidden;
    width: 18rem;
}

.card h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.card-preview {
	color: #fff;
	max-width: 23rem;
}


.card-info {
	padding: 18px;
	position: relative;
	width: 18rem;
}


.btn {
	background-color: #140b91;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.3rem;
    padding: 0.4rem;
    letter-spacing: 0.1rem;
}
.btn:hover {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #ffff;
    font-size: 1.3rem;
    cursor: pointer;
	padding: 0.4rem;
	letter-spacing: 0.1rem;
}
.trip-search{
	margin: 0.5rem;
    border: solid #25215b;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}
.trip-search:focus{
 border: solid #0e0493;
 background-color:#eae8e8;
 border-radius: 1.5rem;
 padding: 0.6rem;
 font-size: 1rem;
 text-align: center;
}

@media (min-width: 700px) {
	.logo {   
	  text-align: left;
	  font-size: 1.5rem;
	}
	.form-fields {
    flex-direction: row;
}
.btn{
	font-size: 1.2rem;
    padding: 0.3rem;
}
.btn:hover {
	font-size: 1.2rem;
    padding: 0.3rem;
}
.card {
	flex-direction: row;
    width: auto;
}
.card-preview {
    color: #fff;
    margin:1rem;
    max-width: 18rem;
}
.search-container{
	width: 100%;
  }
}